.vscode/
.idea/
statements/
app_api_handlers/token.json
app_api_handlers/xero_token.json
app_api_handlers/properties.json
# Ignorar todos los archivos .pyc
*.pyc

# Ignorar todas las carpetas __pycache__
__pycache__/
**/__pycache__/